ORACLE_SID=XE
ORACLE_PWD=password123
MEDTECHDBA=C##MEDTECHDBA
MEDTECHDBA_PWD=medtechdba

# Webapp connection defaults
SYS_DB_USER=SYSTEM
SYS_DB_PASSWORD=password123
DB_HOST=localhost
DB_PORT=1521
DB_SERVICE_NAME=XE
ORACLE_EM_PORT=5500
